body {
    font-family: "Archivo", sans-serif; /* Cambiar la fuente a "Archivo" */
    font-variation-settings: "wdth" 100;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
header {
    text-align: center;
    width: 250px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
}
header img {
    max-width: 100%;
    height: auto;
}
.container {
    padding: 20px;
    margin-bottom: 60px; /* Aumentar el margen inferior para dar espacio al footer */
    margin-top: 50px;

}
h1 {
    color: black; /* Color azul similar al que ya estás utilizando */
    font-size: 25px; /* Tamaño de fuente para el encabezado principal */
    
    font-weight: bold; /* Negrita para el encabezado principal */
    text-align: center; /* Centrar el texto */
    margin-bottom: 10px; /* Agregar margen inferior para separarlo de otros elementos */
}

.servicios a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: #c03f3f;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.servicios a:hover {
    background-color: #0056b3;
}

.fa-solid {
    margin-right: 10px;
    font-size: 20px;
}

button {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del botón */
    justify-content: center; /* Centra horizontalmente los elementos dentro del botón */
    background-color: #141d9ddf;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.3s ease;
    margin: 20px 85px;
}
button:hover {
    background-color: #c03f3f;
}

footer {
    padding: 10px 10px;
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .container {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 30px;
    }

    .servicios a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 30%;
        margin-left: 34%;
    }

    button {
        width: 300px;
        margin: 0 auto;
    }
}