<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicios de FastPass Visa - Pasaportes mexicanos y americanos, visas americanas, citas de emergencia y más">
    <link rel="stylesheet" href="../css/servicios.css">
    <script src="https://kit.fontawesome.com/609deaaf3a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/logo.png">
    <title>Servicios - FastPass Visa</title>
</head>

<body>
    <header>
        <img src="../img/logo.png" alt="FastPass Visa">
    </header>
    <div class="container">
        <h1>Nuestros Servicios</h1>
        <div class="servicios">
            <a href="javascript:void(0)"><i class="fa-solid fa-circle-info"></i>Cita Informativa</a>
            <a href="javascript:void(0)"><i class="fa-solid fa-passport"></i>Pasaporte Mexicano</a>
            <a href="javascript:void(0)"><i class="fa-solid fa-passport"></i>Pasaporte Americano</a>
            <a href="javascript:void(0)"><i class="fa-solid fa-flag-usa"></i>Visa Americana</a>
            <a href="javascript:void(0)"><i class="fa-solid fa-calendar-check"></i>Citas de Emergencia</a>
            <a href="javascript:void(0)"><i class="fa-solid fa-file"></i>Actas Nacimiento / Traducción Documentos</a>
        </div>
    </div>
    <div class="navigation">
        <a href="../index.html"><button><i class="fa-solid fa-house"></i>Inicio</button></a>
    </div>
    <footer>
        <div>
            <p>FastPass Visa &copy; 2025</p>
        </div>
    </footer>
</body>

</html>

